* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: black;
}

header,
nav,
.hero,
.produtos {
    display: flex;
    flex-wrap: wrap;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ff4747;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: yellow;
}

nav {
    gap: 2rem;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    color: white;
}

nav a:hover {
    color: yellow;
}

@media (max-width: 425px) {
    nav a {
        font-size: 0.75rem;
    }
}

main {
    padding: 2rem;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #ff4747;
}

main p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.hero {
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hero img {
    width: 500px;
    min-width: 300px;
    border-radius: 12px;
}

hero-text {
    flex: 1;
    min-width: 300px;
}

.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ff4747;
}

.hero-text p {
    font-size: 1.1rem;
    text-align: justify;
    font-style: italic;
}

.hero-text ul {
    text-align: left;
    margin: 0 0 2rem 0;
}

li {
    margin-bottom: 0.5rem;
}

.obs {
    color: gray;
}

.produtos {
    gap: 1.5rem;
}

.card {
    flex: 1;
    min-width: 250px;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    background-color: #ff4747;
    color: white;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.red {
    background-color: #ff4747;
    color: rgb(255, 255, 255);
}

.grey {
    background-color: rgb(29, 23, 23);
    color: rgb(255, 255, 255);
}

.brown {
    background-color: brown;
    color: rgb(255, 255, 255);
}

.green {
    background-color: rgb(1, 146, 1);
    color: rgb(0, 0, 0);
}

.cream {
    background-color: rgb(255, 183, 105);
    color: black;
}

.yellow {
    background-color: rgb(252, 224, 14);
    color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}
